@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta-sans), sans-serif;

  /* Brand Colors Override based on natadesanusantara.com */
  --color-green-500: #309d3b;
  --color-green-600: #267D30;
  --color-green-700: #1e6326;
  --color-green-950: #172317;
  --color-orange-400: #ff9d2a;
  --color-orange-500: #FF8C00;
  --color-orange-600: #e67e00;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-float-1 {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-2 {
    animation: float 7.5s ease-in-out 2s infinite;
  }

  .animate-float-3 {
    animation: float 5.5s ease-in-out 1s infinite;
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 50s linear infinite;
  }
}